body, html {
    height: 100%;
    background-color: grey; 
}



#header {
    /* The image used */
    background-image: url("../images/skyline-01-new-york-city.jpg");

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

<<<<<<< HEAD
    padding-top: 1px; 
=======
    padding-top: 1px;
>>>>>>> 2c55ed8c6e474f54c53df777638206ef934f7055
}

#title {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin-top: 1%;
}

#sidebar {
    margin-top: 8%;
}

#forms {
    margin: 5% 15% 5% 25%;
}

<<<<<<< HEAD
#state-input {
    float: right;

}

#night{
    font-size: 250px;
    margin-left: 50px;
    color: white;
    font-family: 'Anton', sans-serif;

=======
.name {
    font-size: 150px;
    margin: 0;
    letter-spacing: -10px;
    color: white;
    display: none;
>>>>>>> 2c55ed8c6e474f54c53df777638206ef934f7055
}

#out{

    font-size: 200px;
    margin-left:300px;
    color: black;
    font-family: 'Anton', sans-serif;
    

}






h2 {
<<<<<<< HEAD
    font-family: black 20px;  
    height: 10%; 
    
=======
    font-size: 36px;
    font-family: 'Markazi Text', serif;
    font-style: italic;
    color: white;
}

h3 {
    font-size: 27px;
    font-family: 'Markazi Text', serif;
    color: white;
>>>>>>> 2c55ed8c6e474f54c53df777638206ef934f7055
}

.form-group {
    margin-bottom: 6%
}

.result-title {
    letter-spacing: -1px;
    display: none;
}

#event-view {
    margin: 5px;
    color: purple;
  }

<<<<<<< HEAD

  .footer {
      height: 5%; 
      width: 100%; 
      position:fixed;
      left:0;
      bottom:0;
      background-color: white;
      color: black;
      text-align: center; 
  }



  @media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  
  /* Additional Screen Sizes */
  
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
    body {
      background-color:grey;
    }
  
    #header {
      /* Box-model */
      width: 100%;
    }
  
    #forms,
    #sidebar {
      width: 100%;
    }
  
 
  }
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color:grey;
    }
  
    .header {
      /* Box-model */
      width: 100%;

    }
  
    #forms,
    #sidebar {
      width: 100%;
    }
  

  }
  
=======
  #red {
      color: red;
  }
>>>>>>> 2c55ed8c6e474f54c53df777638206ef934f7055
